.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0 auto;
  gap: 30px;
}

.notFoundIcon {
  height: 120px;
  width: auto;
  color: $error-color;
}
