.editMain {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 30px;
}

.infoCard {
  display: flex;
  gap: 10px;
}

.infoIcon {
  flex-shrink: 0;
  height: 24px;
  width: auto;
  color: $success-color;
}

.form {
  display: flex;
  flex-direction: column;
}
