.linksWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;

  @include for-tablet-lg-up {
    column-gap: 60px;
  }
}

.googleCalendarInfo {
  text-align: center;
  margin: 40px 0;
}
