.wrapper {
  height: 60px;

  @include for-tablet-lg-up {
    height: 80px;
  }

  img {
    width: auto;
    height: 100%;
    filter: grayscale(0);
    transition: filter 300ms;

    &:hover {
      filter: grayscale(1);
    }
  }
}

.clickable {
  cursor: pointer;
}
