.listItem {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 10px;
  list-style: none;
}

.listIndicator {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  background-color: $primary-bg-color;
  transform: rotate(45deg);
}
