.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;

  @include for-tablet-up {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-tablet-lg-up {
    gap: 50px;
  }
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  overflow-y: clip;
  transition: all 300ms;
  position: relative;

  &:hover {
    transform: scale(1.02);
  }

  &:first-child {
    grid-column: 1;
    justify-self: center;

    @include for-tablet-up {
      max-width: 65%;
      grid-column: span 2;
    }

    @include for-tablet-lg-up {
      max-width: 60%;
      grid-column: span 2;
    }
  }

  &:nth-child(even) {
    &:last-child {
      grid-column: 1;
      justify-self: center;

      @include for-tablet-up {
        max-width: 50%;
        grid-column: span 2;
      }
    }
  }
}

.image {
  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  opacity: 0;
  transition: all 300ms;
  background-color: rgba(255, 255, 255, 0.85);

  &:hover {
    opacity: 1;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.year {
  align-self: end;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @include for-tablet-lg-up {
  }
}

.ribbon {
  --f: 0.5em; /* control the folded part*/
  --r: 0.8em; /* control the ribbon shape */

  position: absolute;
  top: 20px;
  right: calc(-1.1 * var(--f));
  padding-inline: 0.25em;
  line-height: 1.8;
  border-bottom: var(--f) solid #0005;
  border-left: var(--r) solid #0000;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );

  background-color: $success-color;
  pointer-events: none;
  z-index: 99;
}

.ribonText {
  color: white;
  font-weight: 500;
  margin: 2px 5px;

  @include for-tablet-lg-up {
    margin: 3px 10px;
  }
}
