.listItem {
  list-style: none;
  width: 100%;
}

.experienceCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 20px;
  width: 100%;
  gap: 10px;

  @include for-tablet-lg-up {
    flex-direction: row;
    align-items: baseline;
    width: 80%;
  }
}
