$primary-text-color: #162b3b;
$secondary-text-color: #fafafa;
$success-color: #3ad555;
$success-color-darker: #268636;
$error-color: #c11515;
$error-color-darker: #7a0e0e;

$primary-bg-color: #162b3b;
$primary-lg-bg-color: #073a57;
$secondary-bg-color: #d9d9d9;
$card-bg: rgba(250, 250, 250, 0.8);
$code-brackets: #cc7832;
$code-object-key: #f92672;

$basic-box-shadow:
  rgba(0, 0, 0, 0.16) 0px 3px 6px,
  rgba(0, 0, 0, 0.23) 0px 3px 6px;

$footer-box-shadow:
  rgba(0, 0, 0, 0.16) 0px -3px 6px,
  rgba(0, 0, 0, 0.23) 0px -3px 6px;

$inset-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 1px inset;
