.primary {
  color: $primary-text-color;
}

.secondary {
  color: $secondary-text-color;
}

.h1 {
  &.md {
    font-size: 25px;

    @include for-tablet-lg-up {
      font-size: 40px;
    }

    @include for-desktop-up {
      font-size: 60px;
    }
  }

  &.lg {
    font-size: 35px;

    @include for-tablet-lg-up {
      font-size: 50px;
    }

    @include for-desktop-up {
      font-size: 70px;
    }
  }
}

.h3 {
  &.md {
    font-size: 24px;

    @include for-tablet-lg-up {
      font-size: 30px;
    }
  }
}

.p {
  &.sm {
    font-size: 12px;

    @include for-tablet-lg-up {
      font-size: 16px;
    }
  }

  &.md {
    font-size: 18px;

    @include for-tablet-lg-up {
      font-size: 24px;
    }
  }

  &.lg {
    font-size: 22px;

    @include for-tablet-lg-up {
      font-size: 28px;
    }
  }
}

.justify {
  text-align: justify;
}
