.button {
  padding: 5px 15px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    background-color: $primary-lg-bg-color;
  }

  &:disabled {
    background-color: $secondary-bg-color;
    cursor: not-allowed;
  }
}

.secondary {
  background-color: $primary-bg-color;
}
