.primary {
  background-color: transparent;

  &:hover {
    background-color: $primary-lg-bg-color;
  }
}

.secondary {
  background-color: $primary-bg-color;

  &:hover {
    background-color: $primary-lg-bg-color;
  }
}

.green {
  background-color: $success-color;

  &:hover {
    background-color: $success-color-darker;
  }
}

.destructive {
  background-color: $error-color;

  &:hover {
    background-color: $error-color-darker;
  }
}

.button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;

  &:disabled {
    background-color: $secondary-bg-color;
    cursor: not-allowed;
  }
}
